.loadScreen {
  article {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .contentInner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .home-slider article .home-image-slider div img {
        min-height: 100vh;
      }
    }
  }
}
